*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #3b4664;
  height: 100vh;
}

#root{
  width: 100%;
  height: 100%;
}


main{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#calculator{
  width: 30%;
  height: 55%;
}


#calculator input{
  height: 90px;
  width: 85%;
  border-radius: 15px;
  background-color: #181f32;
  outline: none;
  font-size:2rem ;
  font-weight: bolder;
  color: white;
  text-align: right;
  padding-right: 60px;
  border: none;
  
}

#nums{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding-top: 40px;
    height: 100%;
    width: 100%;
    height: 85%;
    width: 85%;
}



.nums{
  border: none;
  background-color: #eae3db;
  border-bottom: 5px solid gray;
  border-radius: 10px;
  color: #51545f;
  font-size: 1.5rem;
  font-weight: 900;
  gap: 5%;
}


.nums:active{
  border: 3px solid gray;
}


#del{
  background-color: #677392;
  border: none;
  font-size: 1.5rem;
  font-weight: 900;
  border-bottom:5px solid gray;
  border-radius: 10px;
  color: white;
}




#other{
  padding-top: 20px;
  display: flex;
  gap: 10%;
  width: 90%;
}

#reset, #equal{
  border-radius: 10px;
  font-size: 1.5rem;
  color: white;
  border: none;
  font-weight: 900;
  border-bottom: 5px solid rgba(128, 128, 128, 0.63);
  
}

#reset:active, #equal:active{
  border: 3px solid rgba(128, 128, 128, 0.63);
}

#reset{
  background-color: #677392;
  grid-area: 5 / 1 / 6 / 3

}

#equal{
  background-color: #d13f30;
      grid-area: 5 / 3 / 6 / 5;
}



