*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgba(212, 187, 149, 0.603);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    box-shadow: 1px -9px 20px;

}


nav{
    width: 35%;
}

ul{
    display: flex;
    list-style-type: none;
   
    gap: 28%;

    width: 95%;

}

li{
    transition: 0.25s;
}

a{
    text-decoration: none;
    font-size: 1.4rem;

}


li:hover{
    transform: scale(110%);
}


main{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    height: 100vh;
}

button{
    margin-top: 5%;
    width: 20%;
    height: 45px;
}

div{
    background-color: white;
    display: flex;
    flex-direction: column;
}